@model IEnumerable<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Admin - All Quotes";
}

<h2>All Quotes</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
        <th>@Html.DisplayNameFor(model => model.Quote)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.FirstName)</td>
            <td>@Html.DisplayFor(m => item.LastName)</td>
            <td>@Html.DisplayFor(m => item.EmailAddress)</td>
            <td>@String.Format("{0:C}", item.Quote)</td>
        </tr>
    }
</table>